<div [@fadeIn] class="a-wrap"  >

  <div class="nav_bar" >
    <nz-breadcrumb nzSeparator=">">
      <nz-breadcrumb-item>
        考生
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        考生成绩统计
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>

  <div style="padding: 16px 5px; background: #fff;   min-height: 360px;" >
    <div nz-row >
      <div nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="24" nzXl="24" style="margin-bottom: 10px;">
        <nz-select style="width: 200px;" nzShowSearch nzAllowClear nzPlaceHolder="Select a person" >
          <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
          <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
          <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
        </nz-select>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="24" nzXl="24">
        <form nz-form [nzLayout]="'inline'">
          <nz-form-item  *ngFor="let grade of studentSelect">
            <nz-form-label nzFor="{{grade.gradeName}}">{{grade.gradeName}}</nz-form-label>
            <nz-form-control>
              <nz-select style="width: 120px;" nzAllowClear nzPlaceHolder="{{grade.placeHolder}}">
                <nz-option nzValue="jack" nzLabel="{{class.selectValue}}"  *ngFor="let class of grade.classNum"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
                <input type="text" nz-input placeholder="考号和考生姓名检索">
              </nz-input-group>
              <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSearch><i class="anticon anticon-search"></i></button>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </div>
  </div>

</div>
